body{
  margin: 0;
}
main{
  padding: 0 15px;
}

h1{
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.first-text{
  color: black;
  font-size: 18px;
  font-weight: bold;
}


/* ボタン */
button{
  background-color: rgb(220, 215, 215);
  display: block;
  margin: 0 auto;
  border-radius: 7px;
}
button:hover{
  background-color: green;
  cursor: pointer;
  transition: .7s;
}
button a{
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 5px 50px;
}
button a:hover{
  color: white;
}

/* 写真について */
.photos{
  text-align: center;
}
.photos div{
  margin-bottom: 40px;
}
.photos h1{
  margin-top: 70px;
}

img{
  margin: 8px;
  max-width: 85%;
}

@media(min-width: 600px){
  img{
    width: 30%;
  }
  footer img{
    width: 100px;
  }
}
/* @media(min-width: 1000px){
  img{
    width: 40%;
  }
} */

/* 写真の動きの設定 */
img {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .3s, transform .4s;
}

img.appear {
  opacity: 1;
  transform: translateY(0);
}

footer{
  height: 64px;
  background-color: rgba(0, 238, 48, 0.549);
  margin-top: 60px;
  margin-bottom: 0;
}

footer img{
  float: right;
}